body {
  text-align: center;
}

#heading {
  background-color: #0bd;
  color: #fff;
  display: inline-block;
  margin: 2rem;
  padding: 6rem 3rem;
  border-radius: 50%;
}

#item {
  background: #0bd;
  color: white;
  font-size: 30px;
  margin: 1rem;
  background-size: 200% 100%;
}
